<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
  </head>
  <body>
    <div class="about">
      <div class="div">
        <div class="overlap">
          <img class="vector" src="{{ url_for('static', filename='images/vector-4-1.svg) }}" /> 
          <img class="img" src="{{ url_for('static', filename='images/vector-5-1.svg) }}" />
        </div>
        <div class="overlap-group">
          <img class="vector-2" src="{{ url_for('static', filename='images/vector-7-1.svg) }}" />
          <img class="vector-3" src="{{ url_for('static', filename='images/vector-8-1.svg) }}" />
          <div class="rectangle"></div>
          <div class="nav-nav-menu">
            <div class="nav-list-item"><div class="list-item">about</div></div>
            <div class="list-item-wrapper"><div class="list-item">creators</div></div>
            <img class="nav-list-item-2" src="{{ url_for('static', filename='images/nav-list-item.svg) }}" />
          </div>
          <div class="group">
            <img class="book-of-art" src="{{ url_for('static', filename='images/vector-2.png) }}" /> 
            <img class="group-2" src="{{ url_for('static', filename='images/vector.png) }}" />
          </div>
          <p class="text-wrapper">Created on Friday, October 13 of 2023, this .......</p>
          <div class="text-wrapper-2">About</div>
          <img class="group-3" src="{{ url_for('static', filename='images/group-2.png) }}" />
        </div>
      </div>
    </div>
  </body>
</html>