<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/creators.css') }}" />
  </head>
  <body>
    <div class="creators">
      <div class="div">
        <div class="overlap-group">
          <img class="vector" src="{{ url_for('static', filename='images/vector-5.svg') }}" />
        </div>
        <div class="overlap">
          <div class="overlap-2">
            <img class="vector-2" src="{{ url_for('static', filename='images/vector-7.svg') }}" />
            <img class="vector-3" src="{{ url_for('static', filename='images/vector-8.svg') }}" />
            <div class="rectangle"></div>
            <div class="nav-nav-menu">
              <div class="nav-list-item"><div class="list-item">about</div></div>
              <div class="list-item-wrapper"><div class="list-item">creators</div></div>
              <div class="nav-list-item"><div class="list-item">contact</div></div>
            </div>
            <div class="group">
              <img class="book-of-art" src="{{ url_for('static', filename='images/book-of-art.png') }}" /> 
            </div>
            <div class="text-wrapper">Creators</div>
            <img class="group-3" src="{{ url_for('static', filename='images/group.png') }}" />
          </div>
          <p class="p">Meet the people making this possible!</p>
        </div>
      </div>
    </div>
  </body>
</html>
