<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/globals.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
  </head>
  <body>
    <div class="welcome-page">
      <div class="overlap-wrapper">
        <div class="overlap">
          <div class="overlap-group">
            <p class="text-wrapper">Book of Art was created .....</p>
            <img class="vector" src="{{ url_for('static', filename='images/vector-6.svg') }}" />
            <img class="img" src="{{ url_for('static', filename='images/vector-4-1.svg') }}" />
            <img class="vector-2" src="{{ url_for('static', filename='images/vector-5-1.svg') }}" />
            <img class="vector-3" src="{{ url_for('static', filename='images/vector-7-1.svg') }}" />
            <img class="vector-4" src="{{ url_for('static', filename='images/vector-8-1.svg') }}" />
            <div class="div">Welcome!</div>
            <a href="/about">
              <img class="group" src="{{ url_for('static', filename='images/group-1.png') }}" />
            </a>
            <img class="group-2" src="{{ url_for('static', filename='images/group.png') }}" />      
            <div class="rectangle"></div>
            <div class="nav-nav-menu">
              <div id="clickablePrintConsole" class="nav-list-item"><div class="list-item">about</div></div>
              <div class="list-item-wrapper"><div class="list-item">creators</div></div>
              <div class="nav-list-item"><div class="list-item">contact</div></div>
            </div>
            <div class="group-3">
              <img class="book-of-art" src="{{ url_for('static', filename='images/book-of-art.png') }}" />
              <div class="group-4"></div>
            </div>
            <img class="hackgt-logo" src="{{ url_for('static', filename='images/hackgt_logo.png') }}" />
          </div>
          <div class="overlap-2">
            <img class="vector-5" src="{{ url_for('static', filename='images/vector-8.svg') }}" /> <img class="vector-6" src="{{ url_for('static', filename='images/vector-7.svg') }}" />
          </div>
          <div class="overlap-group-2">
            <img class="vector-7" src="{{ url_for('static', filename='images/vector-5.svg') }}" />
            <img class="vector-8" src="{{ url_for('static', filename='images/vector-4.svg') }}" />
            <img class="vector-9" src="{{ url_for('static', filename='images/vector-3.svg') }}" />
            <img class="vector-10" src="{{ url_for('static', filename='images/vector-2.svg') }}" />
          </div>
        </div>
      </div> 
        <div class="BUTTON-TO-MOVE-ON">
          <a href="/generate_image">
            <button id="clickButton" class="button">
              Get Started Now!
            </button>
          </a>       
      </div>  
    </div>
  </body>
</html>
