<!DOCTYPE html>
<html>
  <head>
    <title>Loading...</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/loading.css') }}">
  </head>
  <body>
    <div class="loader">
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__bar"></div>
      <div class="loader__ball"></div>
    </div>
    <div class="progress-container">
      <div class="progress-bar"></div>
    </div>
  </body>
</html>
